<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="au.edu.uts.ss1a.g8shoppingapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Branches.BranchAddStockActivity"></activity>
        <activity android:name=".Branches.BranchAddProductActivity" />
        <activity android:name=".Branches.BranchManageProductsActivity" />
        <activity android:name=".Branches.BranchSearchProductsActivity" />
        <activity android:name=".Admin.AdminRegisterBranchActivity" />
        <activity android:name=".Admin.AdminManageBranchesActivity" />
        <activity android:name=".Branches.BranchesHomeActivity" />
        <activity android:name=".Admin.AdminManageProductsActivity" />
        <activity android:name=".Customer.SearchProductsActivity" />
        <activity android:name=".Admin.AdminUserProductsActivity" />
        <activity android:name=".Admin.AdminOrdersActivity" />
        <activity android:name=".Customer.CheckoutActivity" />
        <activity android:name=".Customer.CartActivity" />
        <activity android:name=".Customer.ProductDetailActivity" />
        <activity android:name=".Customer.BranchProductsActivity" />
        <activity android:name=".Customer.SettingsActivity" />
        <activity android:name=".Customer.UserHomeActivity" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Admin.AdminAddProductActivity" />
        <activity android:name=".Admin.AdminCategoryActivity" />
        <activity android:name=".Customer.RegisterActivity" />
        <activity android:name=".Customer.LoginActivity" />
        <activity android:name=".Customer.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>